<header> 
  <div class="header_container">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <li class="fas fa-umbrella-beach fa-4x" aria-hidden="true" style="font-size:40px;color:black;"></li>
    <h1>Travel Experts</h1> 
      <nav class = "nav">
        <button class="menu_btn">MENU</button>
        <ul>
          <li><a href="/"><i class="fa fa-home"></i>Home</a></li> 
          <li class="highlight"><a href="/gallery"><i class="fas fa-images"></i>Gallery</a></li>
          <li><a href="/#contact"><i class="fas fa-file-signature"></i>Contact Us</a></li>
          <li><a href="/register"><i class="fa fa-registered" aria-hidden="true"></i>Register</a></li>   
          <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
        </ul>
      </nav>
   </div> 
</header>