<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/register.css">
  <title>Travel Experts Error 404 Page Not Found</title>
</head>
  <%- include('./partials/header.ejs'); %>
<body>
  <div class="page404">
    <h1><%= page %> Error! Page Not Found!</h1>
  </div>
  <%- include('./partials/js-toggle'); %>  
</body>
  <%- include('./partials/foot'); %>
</html> 